---
import Layout from "../../layouts/Layout.astro";
import { getPokemonByName } from "../../api/pokemon";

const { name } = Astro.params;
const pokemon = await getPokemonByName(name);
---

<Layout title="Astro">
  {pokemon != "error" ? <div>height: {pokemon.height}</div> : <div>error</div>}
</Layout>
