---
import Layout from "../../layouts/Layout.astro";
import { getPokemonByName } from "../../api/pokemon";

const { name } = Astro.params;
const pokemon = await getPokemonByName(name);
---

<Layout title="Astro">
  {
    pokemon != "error" ? (
      <div>
        <div>Name: {pokemon.name}</div>
        <div>Height: {pokemon.height}</div>
        <div>Weight: {pokemon.weight}</div>
      </div>
    ) : (
      <div>error</div>
    )
  }
</Layout>
