*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg: #ffffff;
  --color: #000000;
  --a-color: #2563eb;
  --a-color-hover: #dc2626;
}

.darkTheme {
  --color-bg: #000000;
  --color: #ffffff;
  --a-color: #60a5fa;
  --a-color-hover: #f87171;
}

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--a-color);
  text-decoration: none;

  &:hover {
    color: var(--a-color-hover);
    text-decoration: underline;
  }
}

button {
  outline: 0;
  border: 0;
  background: inherit;
  padding: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.layout {
  padding: 2rem;

  & .counterHead {
    margin-bottom: 10px;
    font-weight: 500;
  }

  & button {
    padding: 7px 16px;
    border-radius: 5px;
    background-color: #ef4444;
    color: white;
    transition: 300ms;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
