---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script is:inline>
      const currentTheme = localStorage.getItem("theme");
      if (currentTheme) {
        if (currentTheme == "dark") {
          document.querySelector("html").classList.add("darkTheme");
        }
      } else {
        const darkMode = window.matchMedia("(prefers-color-scheme: dark)");
        if (darkMode.matches) {
          document.querySelector("html").classList.add("darkTheme");
          localStorage.setItem("theme", "dark");
        } else {
          document.querySelector("html").classList.remove("darkTheme");
          localStorage.setItem("theme", "light");
        }
      }
    </script>
  </head>
  <body>
    <Header client:load />
    <slot />
  </body>
  <script type="text/javascript">
    const toggleButton = document.getElementById("toggleTheme");
    const theme = localStorage.getItem("theme");
    if (theme == "dark") {
      toggleButton.checked = true;
    }

    const switchTheme = (e) => {
      if (e.target.checked) {
        document.querySelector("html").classList.add("darkTheme");
        localStorage.setItem("theme", "dark");
        toggleButton.checked = true;
      } else {
        document.querySelector("html").classList.remove("darkTheme");
        localStorage.setItem("theme", "light");
      }
    };
    toggleButton.addEventListener("change", switchTheme);
  </script>
</html>
